<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.clockcheck">

    <uses-sdk tools:overrideLibrary=".com.google.zxing.client.android"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_sand_clock"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_sand_clock_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClockCheck"
        android:hardwareAccelerated="true">
        <activity
            android:name=".RegistroPatronActivity"
            android:exported="true" />
        <activity
            android:name=".RegistroEmpleadoActivity"
            android:exported="true" />
        <activity
            android:name=".SeleccionActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
    </application>

</manifest>